body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('https://raw.githubusercontent.com/akaimetsu/test_site/refs/heads/main/foto.jpeg');
    background-size: cover; /* Resmi tam olarak kaplar */
    background-position: center; /* Resmi ortalar */
    background-repeat: no-repeat; /* Tekrar etmeyi engeller */
    height: 100vh; /* Sayfanın yüksekliğini tam olarak kapsar */
  }

img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
  }

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}